@model introducao.Models.Pessoa;

@{
    ViewData["Title"] = "MVC";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center mt-5">
                <h1 class="display-4">Welcome - Breno</h1>
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                <br/>
                
                <form action="Home/Lista" method="POST">
                    <fildset>
                        <legend>
                            Informações de Pessoas
                        </legend>
                    
                    <div class="d-flex flex-column w-50">
                        <label for="PessoaId">Código:</label>
                        <input type="number"  value="@Model.PessoaId" name="PessoaId">
                    </div>
                    <div class="d-flex flex-column w-50">
                        <label for="PessoaId">Nome:</label>
                        <input type="text"  value="@Model.PessoaName" name="PessoaName">
                    </div>
                        <div class="d-flex flex-column w-50">
                            <label for="PessoaId">Tipo:</label>
                            <input type="text" value="@Model.PessoaType" name="PessoaType">
                        </div>
                        <input type="submit" value="enviar"/>
                    </fildset>
                </form>
                
            </div>
        </div>
    </div>
</div>


