@model introducao.Models.Pessoa;

@{
    ViewData["Title"] = "MVC";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center mt-5">
                <h1 class="display-4">Welcome - Breno</h1>
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                <br/>
                <p>
                    @Model.PessoaName
                </p>
            </div>
        </div>
    </div>
</div>


